/*Common style file*/

.container-fluid {
  height: 100%;
}
.navbar-brand img {
  width: 2%;
}
.record-on {
  color: red;
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% { opacity: 0.0; }
}
.left-panel {
  position: absolute;
  top: 5%;
  height: 95%;
  width: 30%;
}
.left-panel-head {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}
.left-panel-sec1 {
  position: relative;
  top: 0%;
  background-color: white;
  height: 20%;
}
.left-panel-sec2 {
  top: 40%;
  background-color: white;
  height: 35%;
}
.left-panel-sec3 {
  top: 70%;
  background-color: white;
  height: 35%;
}
.center-panel {
  position: absolute;
  width: 65%;
  left: 32%;
  top: 7%;
  height: 90%;
  background-color: white;
  border: 2px solid black;
}
.center-panel .container {
  position: relative;
}
.center-panel-inner {
  position: absolute;
  padding: 25px;
  width: 100%;
  height: 100%;
}
.center-panel-inner .discussed-btn {
  position: absolute;
  bottom: 5%;
  right: 5%;
}
.right-panel {
  position: absolute;
  width: 2%;
  right: 0%;
  top: 7%;
  height: 90%;
  background-color: white;
}
.progress-bar-vertical {
    width: 20px;
    height: 100%;
    margin-left: 95%;
    float: right;
    position: absolute;
    right: 0%;
	  display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: flex-end;
    -webkit-align-items: flex-end;
}
.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 100%;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
  background-color: grey;
}
.form-control{
  display: block;
  width: 30%;
  height: 34px;
  padding: 6px 12px;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  font-size: 14px;
}
.search-frame {
  height:300px;
  width:50%;
  /*margin-top: 1px;*/
}
.search-frame iframe {
  height:100%;
  width:100%;
  /*margin-top: 1px;*/
  border:2px solid grey;
  display: block;
  z-index: 10;
}
.left-panel-topicnames {
  border-bottom:1px solid grey;
}