<div class="">
<!--  <div class='h1 text-center'>Add Agenda</div>  -->
    <div class='modal-header'>
        <h3 class="modal-title">Add Agenda</h3>
    </div>
    <div class='modal-body'>
        <div class="row">
            <div class="col-sm-4">
                <label for="startDate">Start Date</label>
            </div>
            <div class="col-sm-4">
                <datepicker>
                <input ng-model="vm.startDate" type="text"/>
                </datepicker>
            </div>
        </div>
        <div class="row">
    <!-- set time -->
            <div class="col-sm-4">
                <label for="startTime"> Start Time</label>
            </div>
            <div class="col-sm-4">
                <input type="time" id="startTime" name="startTime" ng-model="vm.startTime"
                placeholder="HH:mm:ss" min="00:00:00" max="23:59:59" required />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <label for="endTime"> End Time</label>
            </div>
            <div class="col-sm-4">
                <input type="time" id="endTime" name="endTime" ng-model="vm.endTime"
                placeholder="HH:mm:ss" min="00:00:00" max="23:59:59" required />
            </div>
        </div>
        <!-- Add Agenda -->
        <div class="row">
            <div class="col-sm-4">
                <label for="addAgenda"> Add Agenda </label>
            </div>
            <div class="col-sm-4">
                <form class=''>
                   <input type="title" ng-model="vm.topics" placeholder="Enter the Topics" />
                   <button class="btn" ng-click="vm.add()">Add Topic</button>
                </form>
            </div>
        </div>
        <div class="row" ng-repeat="x in vm.topicList">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <input type="checkbox" ng-model="x.done"> 
                    <span ng-bind="x.todoText"></span>
                    <br>
                </div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
            <button class="btn" ng-click="vm.remove()">Remove Topics</button>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class='btn' ng-click="vm.done()">Done</button>
    </div>
</div>