<div class="">
  <div class="modal-header">
    <h3 class='modal-title'>Start Now/Later</h3>
  </div>
  <div class='modal-body'>
    <div ng-hide='vm.later'>
      <span class='h4'>Meeting ID: {{vm.meetingId}} </span>
      <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="vm.done()">Start Now</button>
      <br>
      <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="vm.later=true">Later</button>
    </div>
    <div ng-hide='!vm.later'>
      Please share and use this meeting ID to join back in future.
    </div>
  </div>
</div>